body {
  background-color: rgb(39, 39, 39);
  height: 1100px;
}

.stopwatch-main-circle-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.stopwatch-main-circle {
  height: 500px;
  width: 500px;
  border-radius: 250px;
  background-color: rgb(39, 39, 39);
  border: 3px solid rgb(233, 233, 233);
  position: relative;
}

.stopwatch-numbers {
  position: absolute;
  color: rgb(233, 233, 233);
  left: 0px;
  right: 0px;
  top: 185px;
  display: flex;
  justify-content: center;
  font-size: 100px;
  align-items: center;
}

.stop-and-reset-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop-reset-spacer {
  width: 250px;
}

.stop-and-reset-layout button,
.timer-layout button {
  padding: 20px 20px;
  color: rgb(233, 233, 233);
  border: 3px solid rgb(233, 233, 233);
  background-color: rgb(39, 39, 39);
  font-size: 20px;
  border-radius: 6px;
}

.stop-start-button {
  width: 96px;
}

.timer-layout {
  display: flex;
  justify-content: center;
}

.secret-layout-change,
.secret-question,
.button-answer-yes,
.button-answer-no {
  color: white;
  opacity: 0;
  transition: opacity 2s;
  width: 100px;
}

.secret-layout-change:hover {
  opacity: 1;
  transition: opacity 1s;

}

.secret-question:hover {
  opacity: 1;
  transition: opacity 2s;
}

.button-answer-yes:hover,
.button-answer-no:hover {
  opacity: 1;
  transition: opacity 3s;
}

/* css for html elements in js. */
.darkened-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.item-screen {
  position: absolute;
  top: 11.7%;
  height: 500px;
  width: 600px;
  left: 32.6%;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt {
  font-size: 20px;
  text-decoration: underline;
}

.tm,
.om, /* This code here is trying to fix a bug: white specks appear by the numbers as they change, idk what it is */
.ts,
.os {
  background-color: rgb(39, 39, 39);
}